Flask == 1.1.2
# Flask == 2.2.2
Flask-SQLAlchemy == 2.4.4
SQLAlchemy == 1.3.20
Flask-Migrate == 2.5.3
Flask-Script == 2.0.6
Flask-Cors == 3.0.9
requests == 2.25.0
mysqlclient == 2.0.1
pika == 1.1.0 # RabbitMQ(비동기 처리) package
python-dotenv==0.20.0

# flask 1점대 버전을 실행하면 발생하는 에러들을 해결하기위한 패키지목록
Jinja2==3.0.3
itsdangerous==2.0.1
Werkzeug==0.16.0